<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%-include('navbar.ejs') %>
</head>
<body>
    <h1>Details page</h1>
    <hr>

    <h2>User filled following details:</h2>
<hr><hr>
    <h2> username: <%- data.username %></h2>
    <h2> useremail: <%- data.useremail %></h2>
    <h2> password: <%- data.password %></h2>
    <h2> skill: <%- data.userskills %></h2>



</body>
</html>